<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backgrounds/slot-number.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{142,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>backgrounds/slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lines/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{66,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lines/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,70},{54,76}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lines/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,58},{76,54}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,48},{76,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lines/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,70},{54,76}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,74},{54,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lines/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{76,54}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{76,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>touchindicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.png</string>
            <key>size</key>
            <string>{492,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82fbfd2f3eaab4f0706edbcf21bd37df$</string>
            <key>textureFileName</key>
            <string>assets.png</string>
        </dict>
    </dict>
</plist>
