<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttons/go-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,570},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>buttons/go-next.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,226},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>buttons/help.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,170},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>buttons/hint-number.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,704},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>buttons/hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,114},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>buttons/home.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,58},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,54}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>buttons/reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>slot/background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>slot/lines/center.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,474},{60,94}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>slot/lines/curve-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,704},{82,48}}</string>
                <key>offset</key>
                <string>{11,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>slot/lines/curve-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,626},{114,76}}</string>
                <key>offset</key>
                <string>{36,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,47},{114,76}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>slot/lines/curve.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{124,124}}</string>
                <key>offset</key>
                <string>{31,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>slot/lines/straight-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,378},{60,94}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>slot/lines/straight-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,282},{60,94}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,92},{60,94}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>slot/lines/straight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{60,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{60,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>slot/ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{168,168}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{168,168}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>slot/touchindicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{170,170}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.png</string>
            <key>size</key>
            <string>{248,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:039cf92b974762aa5809f0b01770d181$</string>
            <key>textureFileName</key>
            <string>assets.png</string>
        </dict>
    </dict>
</plist>
