<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert/background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{414,383}}</string>
                <key>sourceSize</key>
                <string>{416,385}</string>
            </dict>
            <key>alert/btn-choice.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,93},{315,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{315,54}}</string>
                <key>sourceSize</key>
                <string>{317,56}</string>
            </dict>
            <key>alert/btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,440},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>alert/spinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,446},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>buttons/border.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,328},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>buttons/borders/gamemenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>buttons/borders/normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{625,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,89}}</string>
                <key>sourceSize</key>
                <string>{625,89}</string>
            </dict>
            <key>buttons/borders/star-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,418},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>buttons/go-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,390},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>buttons/go-next.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,443},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>buttons/help.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,387},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>buttons/hint-number.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,443},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>buttons/hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,384},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>buttons/home.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,272},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>buttons/pageindicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,508},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>buttons/reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,331},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>buttons/star.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,488},{36,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>giantlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,93},{269,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{269,325}}</string>
                <key>sourceSize</key>
                <string>{271,327}</string>
            </dict>
            <key>google/g+.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,93},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{60,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>google/games.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,390},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>slot/background.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,93},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>slot/lines/center.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,418},{56,88}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{56,88}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>slot/lines/curve-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,418},{78,46}}</string>
                <key>offset</key>
                <string>{10,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{78,46}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>slot/lines/curve-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,410},{108,70}}</string>
                <key>offset</key>
                <string>{33,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,45},{108,70}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>slot/lines/curve.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,272},{116,116}}</string>
                <key>offset</key>
                <string>{29,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>slot/lines/straight-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,418},{56,88}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{56,88}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>slot/lines/straight-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,418},{56,88}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,86},{56,88}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>slot/lines/straight.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,155},{56,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{56,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>slot/ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,364},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{139,139}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>slot/touchindicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,364},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{160,160}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.png</string>
            <key>size</key>
            <string>{1014,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3da7e3c35102b1024a60a27e9dad61d$</string>
            <key>textureFileName</key>
            <string>assets.png</string>
        </dict>
    </dict>
</plist>
